<%- include('partials/header') %>

<!--Users like me have a bad habit of forgeting passwords-->
<form>
  <!-- Enter Your username or email to reset your password -->
  <section class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <button type="submit">Done</button>
  </section>
</form>
<%- include('partials/footer') %>
