<%- include('partials/homeheader') %>


<!-- Navigation -->
<section class="top_navigation">

  <a href="/" class="project_name">CollabSphere</a>

</section>

<!--Home Structure part-->
<section class="layout">
  <section class="layout_text">

    <!--The text/discription of our app-->
    <h1>
      Dive into fascinating discoveries, groundbreaking ideas, 
      and mind-blowing facts from every corner of the scientific world. 
    </h1>

    <p>
      Join a vibrant hub where thinkers, tinkerers, and explorers come together. 
      Share your insights, ask big questions, and fuel conversations that go beyond the classroom or lab.
    </p>

    <!--a button that will continue to the next part of the app which is sign in / log in-->
    <a href="/roles" class="create_account_btn">Continue</a>

    <!--The image that appears on the home page-->
  </section>

  <section class="layout_image">
    <!--Include an image of your choice here-->
    
  </section>
</section>

<%- include('partials/footer') %>
