<%- include('partials/header') %>

<!--This is our home page (need to style it and make it look presentable)-->
<section class="container">
  <h1>Discover scientific knowledge and stay connected to the world of science</h1>
  <a href="/roles" class="login_button">Login</a>
</section>


<%- include('partials/footer') %>
