<%- include('partials/header') %>

<h2>Sign Up</h2>

<!--Sign up form-->
<form>
  <input type="text" placeholder="Username" required>
  <input type="email" placeholder="Email" required>
  <input type="password" placeholder="password" required>
  <button type="submit">Sign Up</button>
</form>

<!--Sign up with 3rd party-->
<p>Or sign up with:</p>
<a href="/auth/google">Google</a>
<a href="/auth/facebook">Facebook</a>
<a href="/auth/github">GitHub</a>
<%- include('partials/footer') %>
