<%- include('partials/header') %>


<body id="roles-page">



<main class="roles-main">
  <!--This is the role selection form-->
  <section class="roles-section">
    <form class="role-form">
      <h3>Select your role to continue:</h3>
      <section class="role-buttons">
        <a href="/Register" class="roles">Researcher</a>
        <a href="/Register" class="roles">Reviewer</a>
        <a href="/Register" class="roles">Admin</a>
      </section>
    </form>
  </section>
 

</main>


</body>


<%- include('partials/footer') %>
