<%- include('partials/header') %>

<section class="container">
  <!--Select your role-->
  <h1>Select your role to continue:</h1>
  
  <section class="role-buttons">
    <a href="/login/researcher" class="researcher_button">Researcher</a>
    <a href="/login/reviewer" class="reviewer_button">Reviewer</a>
    <a href="/login/admin" class="admin_button">Admin</a>
  </section>
</section>

<%- include('partials/footer') %>
