<%- include('partials/header') %>
<section class="container">
  <h1>Discover scientific knowledge and stay connected to the world of science</h1>
  <a href="/roles" class="btn btn-primary">Login</a>
</section>
<%- include('partials/footer') %>
