<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UniResCollab</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
    </nav>
  </header>
